[submodule "modules/apt"]
		path = modules/apt
			url = https://github.com/puppetlabs/puppetlabs-apt/
[submodule "modules/stdlib"]
		path = modules/stdlib
			url = https://github.com/puppetlabs/puppetlabs-stdlib/
[submodule "modules/ruby"]
		path = modules/ruby
			url = https://github.com/puppetlabs/puppetlabs-ruby
[submodule "modules/wget"]
		path = modules/wget
			url = https://github.com/maestrodev/puppet-wget.git
